*{
  margin: 0;
  padding: 0;
  color: white;
}

body{
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 15px 15px;
  gap: 20px;
}

.hero{
  display: flex;
  border: 1px solid white;
  box-shadow: 0px 0px 20px white;
  padding: 30px 30px;
  gap: 20px;
}

.title{
  border: none;
  box-shadow: 0px 0px 15px white;
}

.title p{
  font-size: 100px;
  font-weight: 900;
  border: solid 1px;
}

.port{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folio{
  display: inline-block;
  padding: 0 25px;
}

.italic-text-container{
  display: flex;
  align-self: flex-end;
}

.italic-text{
font-size: 50px;
font-family: 'dancing script', cursive;
font-style: italic;
}

.profile-image{
  height: 600px;
  width: auto;
}

.about-me{
  border: 1px solid;
  box-shadow: 0px 0px 15px;
  display: flex;
  padding: 10px 10px;
  gap: 20px;
}

.details{
  display: flex;
  flex-direction: column;
}

.top-text{
  width: fit-content;
  border: 1px solid;
  box-shadow: 0px 0px 8px;
  padding: 2px 20px;
  margin: 10px 0;
  font-size: 50px;
  font-weight: 900;
}

.bottom-text{
  font-size: 20px;
  max-width: 1100px;
}

.icons{
  background-color: white;
  padding: 5px 0;
  padding-right: 10px;
  max-width: fit-content;
  margin-top: auto;
  border-radius: 15px;
}

.icons i{
  font-size: 65px;
}